<d<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Hello World</title>
    </head>
    <body>
        <div id="foto"></div>
        <div id="menu">
            <div id="contenedorMenu">
                <button id='btn-foto' ontouchend="capturePhoto()"></button>
                <button id='btn-galeria' ontouchend="getPhoto(pictureSource.PHOTOLIBRARY)"></button>
            </div>
        </div>
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
